<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Inimitation Game - HomePage</title>
</head>
<body>
    <header>
        <h2>The Inimitation Game</h2>
        <nav>
            <ul>
                <li>
                    <a href="/login">Accedi</a>
                    <a href="/register">Registrati</a>
                </li>
            </ul>
        </nav>
    </header>
    <main>
    <h1>The Imitation Game</h1>

    <div>
        <h2>Modalità Classica</h2>
        <p>
            In questa modalità, il giocatore può scegliere di assumere il ruolo di <strong>Giudice</strong> oppure di <strong>Partecipante</strong>.<br><br>
            Il <strong>Giudice</strong> deve scrivere tre domande e riceverà altrettante risposte anonime. Il suo obiettivo è determinare se dietro le risposte si cela un essere umano o una macchina.<br><br>
            Il <strong>Partecipante</strong>, invece, riceve tre domande create da un Giudice e deve rispondere in modo naturale e convincente, senza cercare di sembrare una macchina.
        </p>
        <h3>Assegnazione dei punti</h3>
        <ul>
            <li><strong>Giudice</strong> 
                <ul>
                    <li>Riceve <strong>3 punti</strong> se indovina la natura del Partecipante.</li>
                    <li>Perde <strong>1 punto</strong> se non la indovina.</li>
                </ul>
            </li>
            <li><strong>Partecipante</strong>: non riceve punti in questa modalità.</li>
        </ul>
    </div>

    <div>
        <h2>Modalità Verdetto</h2>
        <p>
            In questa modalità, il giocatore assume sempre il ruolo di <strong>Giudice</strong> e si trova a valutare una partita già svolta nella Modalità Classica.<br><br>
            Gli vengono presentate tre domande con le relative risposte fornite da un Partecipante. Il suo compito è stabilire se le risposte provengono da un essere umano o da una macchina.
        </p>
        <h3>Assegnazione dei punti</h3>
        <ul>
            <li><strong>Giudice</strong>
                <ul>
                    <li>Riceve <strong>3 punti</strong> se indovina la natura del Partecipante.</li>
                    <li>Perde <strong>1 punto</strong> se non la indovina.</li>
                </ul>
            </li>
            <li>Se il <strong>Partecipante</strong> è un <strong>umano</strong>:
                <ul>
                    <li>Riceve <strong>3 punti</strong> se il Giudice lo identifica correttamente.</li>
                    <li>Perde <strong>1 punto</strong> se viene scambiato per una macchina.</li>
                </ul>
            </li>
            <li>Se il <strong>Partecipante</strong> è una <strong>macchina</strong>:
                <ul>
                    <li>Riceve <strong>3 punti</strong> se il Giudice lo scambia per un umano.</li>
                    <li>Perde <strong>1 punto</strong> se viene riconosciuto come macchina.</li>
                </ul>
            </li>
        </ul>
    </div>
</main>



</body>
</html>