<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Home Page di The Imitation Game" />
        <meta name="author" content="Matteo Giamberardini & Ilaria Casolino" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
        <title>HomePage | The Imitation Game</title>
    
        <!-- CSS -->
        <link rel="stylesheet" href="/css/home.css">

    </head>
    <body>
        <!-- Header 
        <header>
            <div class="header-container">
                <div class="logo"></div>

                <nav id="nav"> 
                    <ul>
                        <li> <a href="/register">Registrati</a> </li>
                    </ul>
                </nav>
            </div>
        </header>-->
    
        <!-- Main -->
        <main  class="main-content">
            <!-- Hero Section -->
            <section class="hero">
                <div class="hero-text">
                    <!-- <h1>THE <br> IMITATION <br> GAME</h1> -->
                    <a href="/login">GIOCA ORA</a>
                </div>
            </section>

            <!-- Istructions Section -->
            <section class="instructions">
                <div class="container">
                    <h2>Guida al Gioco</h2>
                    <div class="instruction-box">
                        <p>
                        Nel 1950, il matematico Alan Turing si pose una domanda: <br><em>“Le macchine possono pensare?”</em> <br>
                        Per scoprirlo, immaginò un esperimento: un giudice conversa alla cieca con due entità – un umano e una macchina. 
                        Se non riesce a distinguere chi è chi… la macchina ha superato il test!
                    </p>
                    <p>
                        Nel nostro gioco, la sfida è più semplice: ci sono due ruoli principali – un giudice umano e un partecipante, che può essere umano o un'AI. 
                        <strong>Starà al giudice capire con chi ha davvero parlato.</strong>
                    </p>

                    <h3>Scegli il tuo ruolo</h3>

                    <div class="role">
                        <h4>Giudice</h4>
                        <p>Hai il compito più delicato: scoprire se il tuo interlocutore è umano o macchina. Puoi scegliere tra due modalità:</p>
                        <ul>
                            <li>
                                <strong class="modalita-role">Modalità Classica:</strong>
                                Fai 3 domande al partecipante e, dopo aver letto le risposte, arriva il momento della verità: <br>
                                <em>"Ho parlato con un essere umano o con una macchina?"</em>
                                <small>Se indovini: +3 Turingcoin | Se sbagli: -2 TuringCoin</small>
                            </li>
                            <li>
                                <strong class="modalita-role">Modalità Verdetto:</strong>
                                Ricevi una sessione già completata con 3 domande e le risposte. Il tuo compito? 
                                Emettere il verdetto finale.<br>
                                <small>Se indovini: +3 Turingcoin | Se sbagli: -2 TuringCoin</small>
                            </li>
                        </ul>
                    </div>

                    <div class="role">
                        <h4>Partecipante</h4>
                        <p>
                            Rispondi a 3 domande poste da un giudice. Ma attenzione: non sai se lui saprà riconoscere la tua vera natura. <br>
                            Dopo l'invio, la partita entra in fase di attesa: un giudice valuterà le tue risposte e deciderà.
                        </p>
                        <ul>
                            <li><small>Se il giudice <strong>indovina che sei umano</strong>: +1 TuringCoin</small></li>
                            <li><small>Se il giudice <strong>sbaglia</strong>: 0 TuringCoin</small></li>
                        </ul>
                        <em><span class="consiglio">Consiglio:</span> Se giochi come partecipante, sii autentico. La vera sfida è dimostrare che nessuna macchina può imitare la nostra umanità.</em>
                    </div>
                    </div>
                </div>
            </section>
        </main>

        <!-- Footer -->
        <footer class="footer">
            <div class="footer-container">
                <h1>The Imitation Game</h1>
                <div class="footer-text">
                    <p>Turing Test Game 2025</p>
                    <p>Created by Matteo Giamberardini & Ilaria Casolino</p>
                </div>
            </div>
        </footer>
        
    </body>
</html>
