<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Imitation Game - Giudice</title>
</head>
<body>
    <header>
            <div class="header-container">
                <div class="logo">
                    <h2>The Imitation Game</h2>
                </div>
            </div>
    <main>
        <section class="partita-section">
            <form>
                <div class="form-elem">
                    <label for="domanda 1">Domanda 1:</label>
                    <input id="domanda 1"  placeholder="Inserisci la domanda">
                </div>
                <div class="form-elem">
                    <label for="domanda 2">Domanda 2:</label>
                    <input id="domanda 2"  placeholder="Inserisci la domanda">
                </div>
                <div class="form-elem">
                    <label for="domanda 3">Domanda 3:</label>
                    <input id="domanda 3" placeholder="Inserisci la domanda">
                </div>
                <button type="submit">Invia ora</button>
            </form>
        </section>

        <section class="sessione-section"> <!-- Default invisibile, contiene il recap della sessione -->
            <button></button>
            <button></button>
        </section>
    </main>
    <!-- Footer -->
        <footer>
            <div class="footer-logo">
                <h2>The Imitation Game</h2>
            </div>
        </footer>
</body>
</html>