<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Imitation Game - Giudice</title>

    <link rel="stylesheet" href="/css/judge_game.css">
    <script src="/js/judge_game.js" defer></script>
</head>
<body>
    <header>
            <div class="header-container">
                <div class="logo">
                    <h1>The Imitation Game</h1>
                    <h2>Modalità Classica</h2>
                </div>
            </div>
    </header>
    <main>
        <section id="partita-section" class="partita-section">
            <!-- <img id="mod-img-partita" src="/assets/classic.PNG" alt="mod-img"> -->
            <form id="form-partita">
                <div class="form-elem">
                    <label for="domanda1">Domanda 1:</label>
                    <input id="domanda1"  placeholder="Inserisci la domanda" required>
                </div>
                <div class="form-elem">
                    <label for="domanda2">Domanda 2:</label>
                    <input id="domanda2"  placeholder="Inserisci la domanda" required>
                </div>
                <div class="form-elem">
                    <label for="domanda3">Domanda 3:</label>
                    <input id="domanda3" placeholder="Inserisci la domanda" required>
                </div>
                <div class="btn-wrapper">
                    <button type="submit">Invia ora</button>
                </div>
            </form>
        </section>

        <section id="sessione-section" class="sessione-section"> <!-- Default invisibile, contiene il recap della sessione -->

            <div class="sessione-section-text">
                <h1>Il momento della verita' e' arrivato.</h1>
                <p>Osserva bene le risposte e annuncia il tuo verdetto!</p>
            </div>

            <div class="domande-risposte">
                <!-- <img id="mod-img" src="/assets/classic.PNG" alt="mod-img"> -->
                <div class="domande-risposte-elem">
                    <div class="label-domanda">
                        <label for="sessione-domanda-1">Domanda 1:</label>
                        <p class="sessione-domanda" id="sessione-domanda-1">Domanda 1</p>
                    </div>
                    <p class="sessione-risposta" id="sessione-risposta-1">Risposta 1</p>
                </div>
                <div class="domande-risposte-elem">
                    <div class="label-domanda">
                        <label for="sessione-domanda-2">Domanda 2:</label>
                        <p class="sessione-domanda" id="sessione-domanda-2">Domanda 2</p>
                    </div>
                    <p class="sessione-risposta" id="sessione-risposta-2">Risposta 2</p>
                </div>
                <div class="domande-risposte-elem">
                    <div class="label-domanda">
                        <label for="sessione-domanda-3">Domanda 3:</label>
                        <p class="sessione-domanda" id="sessione-domanda-3">Domanda 3</p>
                    </div> 
                    <p class="sessione-risposta" id="sessione-risposta-3">Risposta 3</p>
                </div>
            </div>

            <div class="sessione-section-text">
                <p>Secondo te ha risposto un umano oppure una macchina?</p>
            </div>

            <div class="btn-wrapper">
                <!--Pulsanti da sostituire con le immagini di un umano e robot-->
                <button id="umano-btn">Umano</button>
                <button id="macchina-btn">Macchina</button>
            </div>

        </section>

        <section id="partita-terminata-section" class="partita-terminata-section"> <!-- Default invisibile, mostra al player se ha vinto o meno -->
            <div id="vittoria-div" style="display: none;">
                <div class="img-container">
                    <img src="assets/victory.png">
                </div>
                <div>
                    <p id="vittoria-msg"></p>
                </div>
            </div>
            <div id="sconfitta-div" style="display: none;">
                <div class="img-container">
                    <img src="assets/victory.png">
                </div>
                <div>
                    <p id="sconfitta-msg"></p>
                </div>
            </div>
            <div class="punti-div">
                <p>Hai <strong id="azione-punti"></strong> <strong id="punti-valore"></strong> <span id="label-punti"></span>.</p>
            </div>

            <div>
                <a id="profilo-btn" href="/profilo/{{ player_id }}">Torna al profilo</a>
            </div>
        </section>
    </main>
    <section class="partita-avviata-popup" id="popup">
        <div class="popup-content">
            <div class="loader">
                <img src="/assets/attesa.png">
            </div>
            <p>Le domande sono state inoltrate. Attendi le risposte...</p>
        </div>
    </section>
    <!-- Footer -->
    <footer class="footer">
        <div class="footer-container">
            <h1>The Imitation Game</h1>
            <div class="footer-text">
                <p>Turing Test Game 2025</p>
                <p>Created by Matteo Giamberardini & Ilaria Casolino</p>
            </div>
        </div>
    </footer>
</body>
</html>