<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Registrazione di The Imitation Game" />
        <meta name="author" content="Matteo Giamberardini & Ilaria Casolino" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
        <title>Accedi | The Imitation Game</title>
    
        <!-- CSS -->
        <link rel="stylesheet" href="/css/login.css">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Rounded" />
        <!-- JavaScript -->
        <script src="/js/login.js" defer></script>

        <link rel="icon" type="image/x-icon" sizes="32x32" href="/assets/icon.ico">
    </head>
    <body>
        <!-- Header -->
        <header>
            <div class="header-container">
                <div class="logo">
                    <h1>The Imitation Game</h1>
                </div>

                <nav id="nav"> 
                    <ul>
                        <li> <a href="/">Home</a> </li>
                    </ul>
                </nav>
            </div>
        </header>
    
        <!-- Main -->
        <main>
            <div class="main-content">
                <div class="login-container">
                <div class="login-header">
                    <h1>Bentornato a <br><strong>The Imitation Game</strong></h1>
                    <p>Sei a un passo dal metterti alla prova</p>
                </div>
            </div>

            <!-- Form di login -->
            <form id="login-form" class="login-form">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" placeholder="Inserisci l'username" required>
                </div>
                
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="Inserisci la password" required>
                </div>

                <div class="form-actions">
                    <button type="submit" id="accedi-btn">Accedi</button>
                </div>

                <div class="register-group">
                    <p>Non hai un account? <a href="/register">Registrati ora</a></p>
                </div>
            </form>

            <!-- Contenitore per eventuali messaggi di errore -->
            <div id="error-wrapper">
                <p class="errore-messaggio" id="msg-error"></p>
            </div>
            </div>
        </main>

        <!-- Footer -->
        <footer class="footer">
            <div class="footer-container">
                <h1>The Imitation Game</h1>
                <div class="footer-text">
                    <p>Turing Test Game 2025</p>
                    <p>Created by Matteo Giamberardini & Ilaria Casolino</p>
                </div>
            </div>
        </footer>
    </body>
</html>
