<!DOCTYPE html>
<html lang="it">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Partita Terminata</title>

    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="/css/partita_terminata.css">
</head>
<body>
	<main>
		<div class="endgame-box">
			<h1>Partita terminata</h1>
			<p>Questa partita non è più disponibile perché si è conclusa.</p>
			<a href="/">Torna alla home</a>
		</div>
	</main>
	<div class="video-wrapper">
		<video autoplay muted loop playsinline id="bg-video">
			<source src="/assets/terminated.MP4" type="video/mp4">
			Il tuo browser non supporta il video HTML5.
		</video>
	</div>
</body>
</html>
