<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Imitation Game - Giudice</title>

    <link rel="stylesheet" href="/css/participant_game.css">
    <script src="/js/participant_game.js" defer></script>
</head>
<body>
    <header>
            <div class="header-container">
                <div class="logo">
                    <h1>The Imitation Game</h1>
                </div>
            </div>
    </header>
    <main>
        <section class="partita-section">
            <form class="participant-form" id="participant-form">
                {% for q in questions %}
                <div class="form-elem">
                    <div class="label-domanda">
                        <label for="domanda{{ loop.index }}">Domanda {{ loop.index }}:</label>
                        <p class="sessione-domanda" id="sessione-domanda-{{ loop.index }}">{{ q }}</p>
                    </div>
                    <input
                        id="domanda{{ loop.index }}"
                        name="answer{{ loop.index }}"
                        placeholder="Inserisci la risposta"
                        required>
                </div>
                {% endfor %}
                <div class="btn-form">
                    <button id="btn-form" type="submit">Invia e attendi il verdetto</button>
                </div>
            </form>
        </section>
    </main>

    <!-- Footer -->
        <footer class="footer">
            <div class="footer-container">
                <h1>The Imitation Game</h1>
                <div class="footer-text">
                    <p>Turing Test Game 2025</p>
                    <p>Created by Matteo Giamberardini & Ilaria Casolino</p>
                </div>
            </div>
        </footer>

    <!-- Popup -->
    <div class="popup-container" id="popup" style="display: none;">
        <div class="popup-content">
            <h2 id="hMessage"></h2>
            <p id="pMessage"></p>
            <div class="close-btn-wrapper"> 
                <a id="close-popup-btn" class="submit-btn close-popup" href="/profilo/{{ player_id }}">Chiudi</a>
            </div>  
        </div>
    </div>
</body>
</html>