<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Inizio del gioco: The Imitation Game" />
        <meta name="author" content="Matteo Giamberardini & Ilaria Casolino" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
        <title>Ruolo | The Imitation Game</title>
    
        <!-- CSS -->
        <link rel="stylesheet" href="profilo.css">

        <!-- JavaScript -->
        <script src="profilo.js" defer></script>
        <script src="disconnect_user.js" defer></script>
    </head>
    <body>
        <!-- Header -->
        <header>
            <div class="header-container">
                <div class="logo">
                    <h2>The Imitation Game</h2>
                </div>

                <nav id="nav"> 
                    <ul>
                        <li> <a href="/start-game/{{ user_id }}" id="start-game-btn">Avvia una partita</a> </li>
                        <li> <a href="/" id="btn-esci">Esci</a> </li>
                    </ul>
                </nav>
            </div>
        </header>
    
        <!-- Main -->
        <main  class="main-content">
            <!-- Hero Section -->
            <section class="hero-text">
                <div class="msg-benvenuto">Benvenuto nella tua area riservata, {{ username }}.</div>

                <div class="email-text">Email: {{ email }}</div>
            </section>

            <section class="statistiche">
                <div class="statistiche-gruppo-wrapper">
                    <h2>Generali</h2>
                    <div class="statistiche-gruppo">
                        <div id="partite-giocate-tot" class="statistiche-elem">
                            <h3>Partite giocate Totali</h3>
                            <p>{{ n_games }}</p>
                        </div>
                        <div id="punti-tot" class="statistiche-elem">
                            <h3>Punti totali</h3>
                            <p>{{ score_judge }}</p>
                        </div>
                    </div>
                </div>
                <div class="statistiche-gruppo-wrapper">
                    <h2>Partite da Giudice</h2>
                    <div class="statistiche-gruppo">
                        <div id="partite-giocate-judge" class="statistiche-elem">
                            <h3>Partite giocate</h3>
                            <p>{{ n_games_judge }}</p>
                        </div>
                        <div id="partite-vinte-judge" class="statistiche-elem">
                            <h3>Partite vinte</h3>
                            <p>{{ won_judge }}</p>
                        </div>
                        <div id="partite-perse-judge" class="statistiche-elem">
                            <h3>Partite perse</h3>
                            <p>{{ lost_judge }}</p>
                        </div>
                        <div id="perc-vittoria-judge" class="statistiche-elem">
                            <h3>Percentuale di vittoria</h3>
                            <p>{{ perc_won_judge }}</p>
                        </div>
                        <div id="punti-judge" class="statistiche-elem">
                            <h3>Punti ottenuti</h3>
                            <p>{{ score_judge }}</p>
                        </div>
                    </div>
                </div>
                
                <div class="statistiche-gruppo-wrapper">
                    <h2>Partite da Partecipante</h2>
                    <div class="statistiche-gruppo">
                        <div id="partite-giocate-part" class="statistiche-elem">
                            <h3>Partite giocate</h3>
                            <p>{{ n_games_part }}</p>
                        </div>
                        <div id="partite-vinte-part" class="statistiche-elem">
                            <h3>Partite vinte</h3>
                            <p>{{ won_part}}</p>
                        </div>
                        <div id="partite-perse-part" class="statistiche-elem">
                            <h3>Partite perse</h3>
                            <p>{{ lost_part }}</p>
                        </div>
                        <div id="perc-vittoria-part" class="statistiche-elem">
                            <h3>Percentuale di vittoria</h3>
                            <p>{{ perc_won_part }}</p>
                        </div>
                        <div id="punti-part" class="statistiche-elem">
                            <h3>Punti ottenuti</h3>
                            <p>{{ score_part }}</p>
                        </div>
                    </div>
                </div>
                
                <!--<div id="partite-giocate" class="statistiche-gruppo">
                    <div id="partite-giocate-tot" class="statistiche-elem">
                        <h3>Partite giocate Totali</h3>
                        <p>{{ n_games }}</p>
                    </div>
                    <div id="partite-giocate-judge" class="statistiche-elem">
                        <h3>Partite giocate da Giudice</h3>
                        <p>{{ n_games_judge }}</p>
                    </div>
                    <div id="partite-giocate-part" class="statistiche-elem">
                        <h3>Partite giocate da Partecipante</h3>
                        <p>{{ n_games_part }}</p>
                    </div>
                </div>
                <div id="partite-judge" class="statistiche-gruppo">
                    <div id="partite-vinte-judge" class="statistiche-elem">
                        <h3>Partite vinte da Giudice</h3>
                        <p>{{ won_judge }}</p>
                    </div>
                    <div id="partite-perse-judge" class="statistiche-elem">
                        <h3>Partite perse da Giudice</h3>
                        <p>{{ lost_judge }}</p>
                    </div>
                    <div id="perc-vittoria-judge" class="statistiche-elem">
                        <h3>Percentuale di vittoria da Giudice</h3>
                        <p>{{ perc_won_judge }}</p>
                    </div>
                </div>
                <div id="partite-part" class="statistiche-gruppo">
                    <div id="partite-vinte-part" class="statistiche-elem">
                        <h3>Partite vinte da Partecipante</h3>
                        <p>{{ won_part }}</p>
                    </div>
                    <div id="partite-perse-part" class="statistiche-elem">
                        <h3>Partite perse da Partecipante</h3>
                        <p>{{ lost_part }}</p>
                    </div>
                    <div id="perc-vittoria-part" class="statistiche-elem">
                        <h3>Percentuale di vittoria da Partecipante</h3>
                        <p>{{ perc_won_part }}</p>
                    </div>
                </div>
                <div id="punti" class="statistiche-gruppo">
                    <div id="punti-tot" class="statistiche-elem">
                        <h3>Punti totali</h3>
                        <p>{{ score_judge }}</p>
                    </div>

                    <div id="punti-judge" class="statistiche-elem">
                        <h3>Punti ottenuti da Giudice</h3>
                        <p>{{ score_judge }}</p>
                    </div>
                    <div id="punti-part" class="statistiche-elem">
                        <h3>Punti ottenuti da Partecipante</h3>
                        <p>{{ score_part }}</p>
                    </div>
                </div>-->
            </section>

            <section class="partite-giocate">
                <h1>Partite giocate</h1>
                <div class="table-wrapper">
                        <table>
                        <thead>
                            <tr>
                                <th>Game ID</th>
                                <th>Data</th>
                                <th>Ruolo</th>
                                <th>Stato</th>
                                <th>Punti</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if user_games %}
                                {% for game in user_games %}
                                <tr>
                                    <td>{{ game.game_id }}</td>
                                    <td>{{ game.data }}</td>
                                    <td>{{ game.player_role }}</td>
                                    <td>
                                        {% if game.terminated == 0 %}
                                            {% if game.is_won == 1 %}
                                                Vinta
                                            {% else %}
                                                Persa
                                            {% endif %}
                                        {% else %}
                                            In attesa
                                        {% endif %}
                                    </td>
                                    <td>{{ game.points }}</td>
                                </tr>
                                {% endfor %}
                            {% else %}
                                <tr>Non sono presenti partite recenti</tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </section>

        </main>

        <!-- Footer -->
        <footer>
            <div class="footer-logo">
                <h2>The Imitation Game</h2>
            </div>
        </footer>
    </body>
</html>
