<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Inizio del gioco: The Imitation Game" />
        <meta name="author" content="Matteo Giamberardini & Ilaria Casolino" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
        <title>Ruolo | The Imitation Game</title>
    
        <!-- CSS -->
        <link rel="stylesheet" href="/css/profilo.css">

        <!-- JavaScript -->
        <script src="/js/profilo.js" defer></script>
        <script src="/js/disconnect_user.js" defer></script>
    </head>
    <body>
        <!-- Header -->
        <header>
            <div class="header-container">
                <div class="logo">
                    <h1>The Imitation Game</h1>
                </div>

                <nav id="nav"> 
                    <ul>
                        <li> <a href="/start-game/{{ user_id }}" id="start-game-btn">Avvia una partita</a> </li>
                        <li> <a href="/" id="btn-esci">Esci</a> </li>
                    </ul>
                </nav>
            </div>
        </header>
    
        <!-- Main -->
        <main  class="main-content">
            <!-- Hero Section -->
            <div class="hero-container">
                <img id="welcome-img" src="/assets/welcome.PNG" alt="Welcome">
                <section class="hero-text">
                    <div class="msg-benvenuto">
                        Benvenuto nella tua area riservata, <span class="highlight-pink">{{ username }}</span>.
                    </div>
                    <div class="email-text">
                        Email: <span class="highlight-pink">{{ email }}</span>
                    </div>
                </section>
            </div>

            <section class="statistiche">
                <div class="statistiche-gruppo-wrapper">
                    <img id="robot-img" src="/assets/robot.PNG" alt="robot">
                    <h2>Generali</h2>
                    <div class="statistiche-gruppo">
                        <div id="partite-giocate-tot" class="statistiche-elem">
                            <h3>Partite giocate totali</h3>
                            <p>{{ n_games }}</p>
                        </div>
                        <div id="punti-tot" class="statistiche-elem">
                            <h3>Punti totali</h3>
                            <p>{{ score_judge }}</p>
                        </div>
                    </div>
                </div>
                <div class="statistiche-gruppo-wrapper">
                    <h2>Partite da Giudice</h2>
                    <img id="quack-img" src="/assets/quack.PNG" alt="quack">
                    <div class="statistiche-gruppo">
                        <div id="partite-giocate-judge" class="statistiche-elem">
                            <h3>Partite giocate</h3>
                            <p>{{ n_games_judge }}</p>
                        </div>
                        <div id="partite-vinte-judge" class="statistiche-elem">
                            <h3>Partite vinte</h3>
                            <p>{{ won_judge }}</p>
                        </div>
                        <div id="partite-perse-judge" class="statistiche-elem">
                            <h3>Partite perse</h3>
                            <p>{{ lost_judge }}</p>
                        </div>
                        <div id="perc-vittoria-judge" class="statistiche-elem">
                            <h3>Percentuale di vittoria</h3>
                            <p>{{ perc_won_judge }}%</p>
                        </div>
                        <div id="punti-judge" class="statistiche-elem">
                            <h3>Punti ottenuti</h3>
                            <p>{{ score_judge }}</p>
                        </div>
                    </div>
                </div>
                
                <div class="statistiche-gruppo-wrapper">
                    <img id="coin-img" src="/assets/turingcoin.PNG" alt="coin">
                    <h2>Partite da Partecipante</h2>
                    <div class="statistiche-gruppo">
                        <div id="partite-giocate-part" class="statistiche-elem">
                            <h3>Partite giocate</h3>
                            <p>{{ n_games_part }}</p>
                        </div>
                        <div id="partite-vinte-part" class="statistiche-elem">
                            <h3>Partite vinte</h3>
                            <p>{{ won_part}}</p>
                        </div>
                        <div id="partite-perse-part" class="statistiche-elem">
                            <h3>Partite perse</h3>
                            <p>{{ lost_part }}</p>
                        </div>
                        <div id="perc-vittoria-part" class="statistiche-elem">
                            <h3>Percentuale di vittoria</h3>
                            <p>{{ perc_won_part }}%</p>
                        </div>
                        <div id="punti-part" class="statistiche-elem">
                            <h3>Punti ottenuti</h3>
                            <p>{{ score_part }}</p>
                        </div>
                    </div>
                </div>
            </section>

            <section class="partite-giocate">
                <h1>Partite giocate</h1>
                <div class="table-wrapper">
                    <table>
                        <thead>
                            <tr>
                                <th>Game ID</th>
                                <th>Data</th>
                                <th>Ruolo</th>
                                <th>Stato</th>
                                <th>Punti</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if user_games %}
                                {% for game in user_games %}
                                <tr>
                                    <td>{{ game.game_id }}</td>
                                    <td>{{ game.data.strftime('%d/%m/%Y') }}</td>
                                    <td>
                                        {% if game.player_role == 'judge' %}
                                            Giudice
                                        {% elif game.player_role == 'participant' %}
                                            Partecipante
                                        {% else %}
                                            Ruolo sconosciuto
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if game.is_terminated == 1 %}
                                            {% if game.is_won == 1 %}
                                                <img src="/assets/vittoria.PNG" alt="Vinto" title="Vinto" width="44" height="44">
                                            {% else %}
                                                <img src="/assets/sconfitta.PNG" alt="Perso" title="Perso" width="44" height="44">
                                            {% endif %}
                                        {% else %}
                                            <img src="/assets/attesa.PNG" alt="In attesa" title="In attesa" width="44" height="44">
                                        {% endif %}
                                    </td>
                                    <td>
                                        {% if game.is_terminated == 1 %}
                                            {% if game.points < 0 %}
                                                <p style="color: var(--retro-red);"> {{ game.points }} </p>
                                            {% else %}
                                                <p style="color: var(--green);"> +{{ game.points }} </p>
                                            {% endif %}
                                        {% else %}
                                            <p> -- </p>
                                        {% endif %}
                                    </td>
                                </tr>
                                {% endfor %}
                            {% else %}
                                <tr>
                                    <td colspan="5">Non sono presenti partite recenti</td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                </div>
            </section>

        </main>

        <!-- Footer -->
        <footer class="footer">
            <div class="footer-container">
                <h1>The Imitation Game</h1>
                <div class="footer-text">
                    <p>Turing Test Game 2025</p>
                    <p>Created by Matteo Giamberardini & Ilaria Casolino</p>
                </div>
            </div>
        </footer>
    </body>
</html>
