<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Login di The Imitation Game" />
        <meta name="author" content="Matteo Giamberardini & Ilaria Casolino" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
        <title>Registrati | The Imitation Game</title>
    
        <!-- CSS -->
        <link rel="stylesheet" href="/css/register.css">
        <!-- JavaScript -->
        <script src="/js/register.js" defer></script>

    </head>
    <body>
        <!-- Header -->
        <header>
            <div class="header-container">
                <div class="logo">
                    <h1>The Imitation Game</h1>
                </div>

                <nav id="nav"> 
                    <ul>
                        <li> <a href="/">Home</a> </li>
                    </ul>
                </nav>
            </div>
        </header>
    
        <!-- Main -->
        <main>
            <section  class="main-content">
                <div class="registration-container">
                    <div class="registration-header">
                        <h1>Inserisci i tuoi dati</h1>
                        <p>La lotta tra uomo e intelligenza artificiale sta per iniziare, e l’umanità ha bisogno di un nuovo giocatore.</p>
                    </div>

                    <!-- Form di registrazione -->
                    <div class="form-wrapper">
                        <form id="registration-form" class="registration-form" method="post" enctype="multipart/form-data">
                            <div class="form-grid">
                                <div class="form-group">
                                    <label for="user_name">Username</label>
                                    <input type="text" id="user_name" name="user_name" maxlength="30" placeholder="Inserisci il tuo username">
                                </div>
                                <div class="form-group">
                                    <label for="email">Email</label>
                                    <input type="email" id="email" name="email" placeholder="example@email.com" required>
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <input type="password" id="password" name="password" placeholder="Inserisci la password" required>
                                </div>
                                <div class="form-group">
                                    <label for="conferma_password">Conferma Password</label>
                                    <input type="password" id="conferma_password" name="conferma_password" placeholder="Conferma la password" required>
                                </div>
                            </div>

                            <div class="form-actions">
                                <button type="submit" class="btn-primary">Inizia Subito</button>
                                <!--<button type="reset" class="btn-secondary">Reset</button>-->
                            </div>

                            <!-- Contenitore per eventuali messaggi di errore -->
                            <div id="error-wrapper">
                                <p class="errore-messaggio" id="msg-error"></p>
                            </div>
                        </form>
                    </div>            
                </div>
            </section>
        </main>

        <!-- Footer -->
        <footer class="footer">
            <div class="footer-container">
                <h1>The Imitation Game</h1>
                <div class="footer-text">
                    <p>Turing Test Game 2025</p>
                    <p>Created by Matteo Giamberardini & Ilaria Casolino</p>
                </div>
            </div>
        </footer>
    </body>
</html>
