<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Inizio del gioco: The Imitation Game" />
        <meta name="author" content="Matteo Giamberardini & Ilaria Casolino" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
        <title>Ruolo | The Imitation Game</title>
    
        <!-- CSS -->

        <!-- JavaScript -->

    </head>
    <body>
        <!-- Header -->
        <header>
            <div class="header-container">
                <div class="logo"></div>

                <nav id="nav"> 
                    <ul>
                        <li> <a href="/profilo">Profilo e statistiche</a> </li>
                        <li> <a href="/login">Esci</a> </li>
                    </ul>
                </nav>
            </div>
        </header>
    
        <!-- Main -->
        <main  class="main-content">
            <!-- Hero Section -->
            <section class="hero">
                <div class="hero-text">
                    <h1>Giudica o fatti giudicare. Scegli il tuo destino.</h1>
                    
                    <!-- Bottoni che verranno sostituiti con Modalità classica o verdetto se si preme "Giudice" -->
                    <button>Giudice</button>
                    <button>Partecipante</button>
                </div>
            </section>
        </main>

        <!-- Footer -->
        <footer>
            <div class="footer-logo">
                <h2>The Imitation Game</h2>
            </div>
        </footer>
    </body>
</html>
