<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Inizio del gioco: The Imitation Game" />
        <meta name="author" content="Matteo Giamberardini & Ilaria Casolino" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
        <title>Avvia Partita | The Imitation Game</title>
    
        <!-- CSS -->
        <link rel="stylesheet" href="/css/start_game.css">
        <!-- JavaScript -->
        <script src="/js/start_game.js" defer></script>
        <script src="/js/disconnect_user.js" defer></script>

        <link rel="icon" type="image/x-icon" sizes="32x32" href="/assets/icon.ico">
    </head>
    <body>
        <!-- Header -->
        <header>
            <div class="header-container">
                <div class="logo">
                    <h1>The Imitation Game</h1>
                </div>

                <nav id="nav"> 
                    <ul>
                        <li> <a href="/profilo/{{ user_id }}" id="profilo_stats">Profilo e statistiche</a> </li>
                        <li> <a href="/" id="btn-esci">Esci</a> </li>
                    </ul>
                </nav>
            </div>
        </header>
    
        <!-- Main -->
        <main >
            <section class="main-content">
                <!-- Hero Section -->
                <section class="hero">                    
                    <!-- Bottoni che verranno sostituiti con Modalità classica o verdetto se si preme "Giudice" -->
                    <div class="ruolo-div" id="generic_game">
                        <h1>Giudica o fatti giudicare, scegli il tuo destino.</h1>
                        <div class="btn-wrapper">  
                            <button class="btn-ruolo" id="judge_btn">Giudice</button>
                            <button class="btn-ruolo" id="part_btn">Partecipante</button>
                        </div>
                    </div>
                    <div class="judge-game" id="judge_game" style="display: none;"> <!-- Default invisibile -->
                        <h1>Riesci a distinguere l’umano dalla macchina?</h1>
                        <h2>Scegli la modalita'</h2>
                        <div class="btn-wrapper">
                            <button class="btn-mod" id="classic_mod">Modalita' Classica</button>
                            <button class="btn-mod" id="verdict_mod">Modalita' Verdetto</button>
                        </div>
                    </div>
                </section>
            </section>
        </main>

        <section class="partita-avviata-popup" id="popup">
            <div class="popup-content">
                <div class="loader">
                    <img src="/assets/attesa.png">
                </div>
                <p>La partita si sta avviando. Attendi...</p>
            </div>
        </section>

        <!-- Footer -->
        <footer class="footer">
            <div class="footer-container">
                <h1>The Imitation Game</h1>
                <div class="footer-text">
                    <p>Turing Test Game 2025</p>
                    <p>Created by Matteo Giamberardini & Ilaria Casolino</p>
                </div>
            </div>
        </footer>

    </body>
</html>
