<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="UTF-8" />
        <meta name="description" content="Inizio del gioco: The Imitation Game" />
        <meta name="author" content="Matteo Giamberardini & Ilaria Casolino" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
        <title>The Imitation Game | Avvia Partita</title>
    
        <!-- CSS -->
        <link rel="stylesheet" href="start_game.css">
        <!-- JavaScript -->

    </head>
    <body>
        <!-- Header -->
        <header>
            <div class="header-container">
                <div class="logo">
                    The Imitation Game
                </div>

                <nav id="nav"> 
                    <ul>
                        <li> <a href="/profilo">Profilo e statistiche</a> </li>
                        <li> <a href="/login" id="btn-esci">Esci</a> </li>
                    </ul>
                </nav>
            </div>
        </header>
    
        <!-- Main -->
        <main >
            <section class="main-content">
                <!-- Hero Section -->
                <section class="hero">                    
                    <!-- Bottoni che verranno sostituiti con Modalità classica o verdetto se si preme "Giudice" -->
                    <div class="ruolo-div">
                        <h1>Giudica o fatti giudicare. Scegli il tuo destino.</h1>
                        <div class="btn-wrapper">  
                            <button class="btn-ruolo">Giudice</button>
                            <button class="btn-ruolo">Partecipante</button>
                        </div>
                    </div>
                    <div class="judge-game"> <!-- Default invisibile -->
                        <h1> Scegli la modalità </h2>
                        <div class="btn-wrapper">
                            <button class="btn-mod">Modalità Classica</button>
                            <button class="btn-mod">Modalità Verdetto</button>
                        </div>
                    </div>
                </section>

                
            </section>
        </main>

        <!-- Footer -->
        <footer>
            <div class="footer-logo">
                <h2>The Imitation Game</h2>
            </div>
        </footer>
    </body>
</html>
