<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Giudice Modalità Verdetto | The Imitation Game</title>

    <link rel="stylesheet" href="/css/verdict_game.css">
    <script src="/js/verdict_game.js" defer></script>

    <link rel="icon" type="image/x-icon" sizes="32x32" href="/assets/icon.ico">
</head>
<body>
    <header>
            <div class="header-container">
                <div class="logo">
                    <h1>The Imitation Game</h1>
                    <h2>Modalita' Verdetto</h2>
                </div>
            </div>
    </header>
    <main>
        <section class="sessione-section" id="sessione-section">

            <div class="sessione-section-text">
                <h1>Il momento della verita' e' arrivato.</h1>
                <p>Osserva bene le risposte e annuncia il tuo verdetto!</p>
            </div>

            <div class="domande-risposte">
                <!-- <img id="mod-img" src="/assets/verdict.PNG" alt="mod-img"> -->
                {% for question_id, qa in session.items() %}
                    <div class="domande-risposte-elem">
                        <div class="label-domanda">
                            <label for="sessione-domanda-{{ question_id }}">Domanda {{question_id}}:</label>
                            <p class="sessione-domanda" id="sessione-domanda-{{ question_id }}">{{qa.question}}</p>
                        </div>
                        <p class="sessione-risposta" id="sessione-risposta--{{ question_id }}">{{ qa.answer }}</p>
                    </div>
                {% endfor %}
            </div>

            <div class="sessione-section-text">
                <p>Secondo te ha risposto un umano oppure una macchina?</p>
            </div>

            <div class="btn-wrapper">
                <div class="image-button" id="umano-btn">
                    <img src="/assets/human.png" alt="umano">
                </div>
                <div class="image-button" id="macchina-btn">
                    <img src="/assets/machine.png" alt="macchina">
                </div>
            </div>

        </section>

        <section id="partita-terminata-section" class="partita-terminata-section"> <!-- Default invisibile, mostra al player se ha vinto o meno -->
            <div id="vittoria-div">
                <div class="img-container">
                    <img src="/assets/victory.png">
                </div>
                <div class="text-div">
                    <p id="vittoria-msg"></p>
                </div>
            </div>
            <div id="sconfitta-div">
                <div class="img-container">
                    <img src="/assets/defeat.png">
                </div>
                <div class="text-div">
                    <p id="sconfitta-msg"></p>
                </div>
            </div>
            <div class="punti-div">
                <div class="punti-content">
                    <p>Hai <span id="azione-punti"></span> <span id="punti-valore"></span> <span id="label-punti"></span>.</p>
                    <img id="gain-img" src="/assets/gainCoin.png" alt="gain-img" class="coin-animation" style="display: none;">
                    <img id="lost-img" src="/assets/lostCoin.png" alt="lost-img" class="coin-animation" style="display: none;">
                </div>
            </div>

            <div>
                <a id="profilo-btn" href="/profilo/{{ player_id }}">Torna al profilo</a>
            </div>
        </section>
    </main>
    <!-- Popup errore-->
    <div class="popup-container-errore" id="popup-errore" style="display: none;">
        <div class="popup-content-errore">
            <h2 id="hMessage"></h2>
            <p id="pMessage"></p>
        </div>
    </div>
    <!-- Footer -->
    <footer class="footer">
        <div class="footer-container">
            <h1>The Imitation Game</h1>
            <div class="footer-text">
                <p>Turing Test Game 2025</p>
                <p>Created by Matteo Giamberardini & Ilaria Casolino</p>
            </div>
        </div>
    </footer>
</body>
</html>