<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Imitation Game - Giudice</title>

    <link rel="stylesheet" href="/css/verdict_game.css">
    <script src="/js/verdict_game.js" defer></script>
</head>
<body>
    <header>
            <div class="header-container">
                <div class="logo">
                    <h2>The Imitation Game</h2>
                </div>
            </div>
    </header>
    <main>
        <section class="sessione-section" id="sessione-section">
            <div class="domande-risposte">
                {% for question_id, qa in session.items() %}
                    <div class="domande-risposte-elem">
                        <div class="label-domanda">
                            <label for="sessione-domanda-{{ question_id }}">Domanda {{question_id}}:</label>
                            <p class="sessione-domanda" id="sessione-domanda-{{ question_id }}">{{qa.question}}</p>
                        </div>
                        <p class="sessione-risposta" id="sessione-risposta--{{ question_id }}">{{ qa.answer }}</p>
                    </div>
                {% endfor %}
            </div>

            <div>
                <p>È il momento della verità. Ora annuncia il tuo verdetto!</p>
            </div>
            <div>
                <!--Pulsanti da sostituire con le immagini di un umano e robot-->
                <button id="umano-btn">Umano</button>
                <button id="macchina-btn">Macchina</button>
            </div>

        </section>

        <section class="partita-terminata-section" id="partita-terminata-section"> <!-- Default invisibile, mostra al player se ha vinto o meno -->
            <div id="vittoria-div">
                <div class="img-container">
                    <img src="assets/victory.png">
                </div>
                <div>
                    <p id="vittoria-msg">Messaggio inviato dal server</p>
                </div>
            </div>
            <div id="sconfitta-div">
                <div class="img-container">
                    <img src="assets/victory.png">
                </div>
                <div>
                    <p id="sconfitta-msg">Messaggio inviato dal server</p>
                </div>
            </div>
            <div class="punti-div">
                <p>Hai <strong id="azione-punti"></strong> <strong id="punti-valore"></strong> <span id="label-punti"></span>.</p>
            </div>

            <div>
                <a href="/profilo/{{ player_id }}" id="profilo-btn">Torna al profilo</a>
            </div>
        </section>
    </main>
    <!-- Footer -->
        <footer>
            <div class="footer-logo">
                <h2>The Imitation Game</h2>
            </div>
        </footer>
</body>
</html>