@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
    --bianco-crema: #fffcdd;
    
    /* Base colors */
    --retro-bg: #FFFFB5;           /* Giallo pastello - sfondo */
    --retro-fg: #000000;           /* Nero - testo/bordi */
    
    /* Accent colors */
    --retro-red: #FF4C4C;          /* Rosso acceso */
    --retro-blue: #4C9EFF;         /* Blu acceso */
    --retro-green: #6FFF6F;        /* Verde brillante */
    --retro-pink: #ff55c9;         /* Rosa pastello */
    --retro-purple: #a34cfa;       /* Viola pastello */
    --retro-orange: #FFB347;       /* Arancione retrò */
    --retro-shadow: #391a15;
    
    /* Element highlights */
    --retro-highlight: #FFEB3B;    /* Giallo evidenziato */
    --retro-shadow: #606060;       /* Ombra stile NES */
    --hero-blue: #00A8C6;          /* Hero color */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--retro-blue);
    font-family: "Press Start 2P";
}

/* Header */
header {
    background: linear-gradient(135deg, #FAE149, #FFEB5B);
    border-bottom: 3px solid var(--retro-fg);
    position: relative;
    z-index: 10;
    padding: 2rem;
}

.header-container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo h1{
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 0.2cap;
    color: var(--text-color);
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.6);
}

/* Main content */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem 18rem;
}

/* Partita Section */
.partita-section {
    background: linear-gradient(90deg, var(--bianco-crema) 0%, #fff 100%);
    padding: 3rem;
    margin-bottom: 2rem;
    border: 2px solid var(--retro-fg);
    box-shadow: 4px 4px 0 var(--retro-shadow);
}

.form-elem {
    margin-bottom: 2rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    color: var(--retro-red);
    text-shadow: 1.5px 2px 0 #a34cfad6;
}

input {
    width: 100%;
    padding: 0.75rem;
    font-family: inherit;
    font-size: 0.75rem;
    border: 2px solid var(--retro-fg);
    background-color: transparent;
    color: var(--retro-fg);
    box-shadow: 3px 3px var(--retro-shadow);

    transition: all 0.1s ease-in-out;
}

input:focus {
    outline: none;
    transform: translate(2px, 2px);
    box-shadow: 1px 1px 0px #000;
}

button {
    color: var(--retro-fg);
    background-color: var(--retro-blue);
    padding: 0.9rem 1.2rem;

    border: 3px solid var(--retro-fg);
    box-shadow: 4px 4px 0px #391a15;
    
    transition: all 0.1s ease-in-out;
    font-family: inherit;
    cursor: pointer;
}

button:hover {
    color: var(--retro-fg);
    background-color: var(--retro-green);
    transform: translate(2px, 2px);
    box-shadow: 1px 1px 0px #000;
}

/* Sessione section */
.sessione-section {
    background: linear-gradient(90deg, var(--bianco-crema) 0%, #fff 100%);
    border: 2px solid var(--retro-fg);
    padding: 3rem;
    box-shadow: 4px 4px var(--retro-shadow);
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;

    display: none;
}

.sessione-section-text{
    overflow-wrap: break-word;
    line-height: 1.6;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.domande-risposte{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.domande-risposte-elem{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.label-domanda label{
    margin: 0;
}
.label-domanda p{
    margin: 0;
}
.label-domanda{
    display: flex;
    flex: 1;
    justify-content: left;
    gap: 1rem;
}

.sessione-risposta{
    color: var(--retro-purple)
}

.sessione-domanda{
    color: var(--retro-red)
}

/* Sezione partita terminata */
.partita-terminata-section {
    background: linear-gradient(90deg, var(--bianco-crema) 0%, #fff 100%);
    border: 2px solid var(--retro-fg);
    padding: 3rem;
    box-shadow: 4px 4px var(--retro-shadow);
    display: flex;
    flex-direction: column;
    gap: 1.5rem;

    display: none;
}

.img-container {
    text-align: center;
    margin-bottom: 1rem;
}

.img-container img {
    width: 150px;
    image-rendering: pixelated;
    border: 3px solid var(--border);
}

.punti-div {
    margin-top: 1rem;
    font-size: 0.8rem;
}

a {
    display: inline-block;
    text-decoration: none;
    color: var(--retro-fg);
    background-color: var(--retro-red);
    padding: 0.5rem 1.2rem;

    border: 3px solid var(--retro-fg);
    box-shadow: 4px 4px 0px #391a15;
    
    transition: all 0.1s ease-in-out;
    cursor: pointer;
}

a:hover {
    color: var(--retro-fg);
    background-color: var(--retro-highlight);
    transform: translate(2px, 2px);
    box-shadow: 1px 1px 0px var(--retro-shadow);
}

/* FOOTER */
.footer {
    background: linear-gradient(135deg, #FAE149, #FFEB5B);
    color: var(--text-color);
    padding: 3rem 2rem;
    text-align: center;
    border-top: 4px solid var(--retro-fg);
    position: relative;
}

.footer h1{
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
    border-bottom: 1px solid;
    display: inline-block;
    width: 50rem;
    text-transform: uppercase;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.6);
    letter-spacing: 0.5cap;
}

.footer p{
    font-size: 0.6rem;
    text-transform: uppercase;
    letter-spacing: -0.1cap;
}

.footer-text{
    margin: 0.5rem;
}