@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
    --bianco-crema: #fffcdd;
    
    /* Base colors */
    --retro-bg: #FFFFB5;           /* Giallo pastello - sfondo */
    --retro-fg: #000000;           /* Nero - testo/bordi */

    /* Accent colors */
    --retro-red: #FF4C4C;          /* Rosso acceso */
    --retro-blue: #4C9EFF;         /* Blu acceso */
    --retro-green: #6FFF6F;        /* Verde brillante */
    --retro-pink: #ff55c9;         /* Rosa pastello */
    --retro-purple: #a34cfa;       /* Viola pastello */
    --retro-orange: #FFB347;       /* Arancione retrò */
    --retro-shadow: #391a15;
     
    /* Element highlights */
    --retro-highlight: #FFEB3B;    /* Giallo evidenziato */
    --retro-shadow: #606060d5;       /* Ombra stile NES */
    --hero-blue: #00A8C6;          /* Hero color */
    --green: #39aa35;
    --text-color: #2D0A21;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Press Start 2P', cursive;
    background-color: var(--retro-blue);
    color: var(--retro-fg);
    line-height: 1.6;

    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

/* HEADER */
header {
    background: linear-gradient(135deg, #FAE149, #FFEB5B);
    border-bottom: 3px solid var(--retro-fg);
    position: relative;
    z-index: 10;
    padding: 2rem;
}

.header-container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo h1{
    font-size: 1.3rem;
    text-transform: uppercase;
    letter-spacing: 0.2cap;
    color: var(--text-color);
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.3);
}

nav ul {
    list-style: none;
    display: flex;
    gap: 1.5rem;
}

nav a {
    text-decoration: none;
    color: var(--retro-fg);
    background-color: var(--retro-blue);
    padding: 0.8rem 1.2rem;

    border: 3px solid var(--retro-fg);
    box-shadow: 4px 4px 0px #391a15;
    
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: -1px;
    text-shadow: 1px 1px 0 var(--retro-shadow);
}

nav a:hover {
    color: var(--retro-fg);
    background-color: var(--retro-green);
    transform: translate(2px, 2px);
    box-shadow: 1px 1px 0px var(--retro-shadow);
}

#btn-esci{
    background-color: var(--retro-red);
}

#btn-esci:hover{
    color: #ffa200;
    background-color: var(--retro-highlight);
}

/* MAIN */
.main-content {
    flex: 1;
    padding: 2.5rem 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
}

.hero-container {
    position: relative; 
    max-width: 700px;
    margin: 0 auto;
}

.hero-text {
    background-color: #fefefe;
    padding: 1.2rem 1rem;
    margin-bottom: 2.5rem;
    width: 100%;
    max-width: 700px;
    border: 3px solid var(--retro-fg);
    text-align: center;
    letter-spacing: 0.04em;

    z-index: 1;

    animation: box-shadow-move 2s ease-in-out infinite;
}

@keyframes box-shadow-move {
  0%, 100% {
    filter: drop-shadow(4px 4px 0 #391a15);
    transform: translateX(0);
  }
  50% {
    filter: drop-shadow(6px 6px 0 #391a15);
    transform: translateY(-3px);
  }
}

.highlight-pink {
    color: var(--retro-pink); /* se esiste */
}

#welcome-img {
    position: absolute;
    top: -20px;     /* sposta l'immagine sopra il box */
    left: -250px;    /* sposta l'immagine a sinistra del box */
    width: 350px;
    height: 350px;
    z-index: 2;
}

.msg-benvenuto, .email-text {
    margin: 1rem 0;
    font-size: 0.85rem;
    text-shadow: 1px 1px 0 #626262a1;
}

.statistiche {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
    width: 100%;
    justify-content: center;
    padding-bottom: 2rem;
}

.statistiche-gruppo-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 270px;
    position: relative;
}

#robot-img {
    position: absolute;
    top: -20px;
    left: 320px;
    width: 80px;
    height: auto;
    z-index: 5;
}

#quack-img {
    position: absolute;
    top: -53px;
    right: 60px;
    width: 100px;
    height: auto;
    z-index: 5;
}

#coin-img {
    position: absolute;
    top: -40px;
    left: -90px;
    transform: translateX(-50%);
    width: 80px;
    height: auto;
    z-index: 5;

    animation: shadow-move 2s ease-in-out infinite;
}

@keyframes shadow-move {
  0%, 100% {
    filter: drop-shadow(4px 4px 0 #391a15);
    transform: translateX(-50%) translateY(0);
  }
  50% {
    filter: drop-shadow(6px 6px 0 #391a15);
    transform: translateX(-50%) translateY(-3px);
  }
}

.statistiche-gruppo {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.statistiche-gruppo-wrapper h2{
    font-size: 1.3rem;
    color: var(--retro-red);
    text-shadow:  2px 2px 0 rgba(0, 0, 0, 0.6);
    margin-bottom: 0.7rem;
    user-select: none;
    text-transform: uppercase;
    letter-spacing: -1.2px;
}

.statistiche-elem {
    background-color: var(--bianco-crema);
    border: 3px solid var(--retro-fg);
    padding: 1rem;
    width: 200px;
    height: 140px;
    text-align: center;
    box-shadow: 4px 4px 0px #391a15;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.statistiche-elem h3 {
    font-size: 0.85rem;
    margin-bottom: 0.65rem;
    text-shadow: 1px 1px 0 #00000043;
}

.statistiche-elem p {
    font-size: 0.9rem;
    font-weight: 900;
    color: var(--retro-red);
    letter-spacing: 0.06em;
}

.partite-giocate {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.partite-giocate h1{
    margin-bottom: 2.2rem;
    color: var(--retro-red);
    text-shadow:  2px 2px 0 #ffffff;
    user-select: none;
    text-transform: uppercase;
}

.table-wrapper{
    max-height: 40rem;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;

    border: 2px solid var(--retro-fg);
    border-left: 1px;
    border-top: 1px;
    border-bottom: 1px;
    max-width: 100%;
    box-shadow: 4px 4px 0px #391a15;
}

table {
    width: 64rem;
    border-collapse: collapse;
    background-color: var(--bianco-crema);
    font-size: 0.85rem;
}

table thead th {
    position: sticky;
    top: 0;
    z-index: 10;
    border: 3px solid var(--retro-fg);

    font-size: 1.3rem;
    user-select: none;
    letter-spacing: 0.08em;
    padding: 1rem 0.8rem;
}

th {
    border: 3px solid var(--retro-fg);
    padding: 1rem 0.8rem;
    font-weight: 900;
    text-align: center;
    font-size: 1rem; /* Larger font matching header */
    letter-spacing: 0.06em;
    user-select: text;

    background-color: var(--retro-bg);
    color: var(--retro-red);
    text-shadow: 2px 2px 0 #dd42426d;
}

td {
    border: 3px solid var(--retro-fg);
    padding: 1rem 0.8rem;
    font-size: 0.9rem; /* Larger font size */
    text-align: center;
    font-weight: 900;
    letter-spacing: 0.06em;
    user-select: text;
}

table tr:first-child th:first-child {
    border-top-left-radius: 2px;
}
table tr:first-child th:last-child {
    border-top-right-radius: 2px;
}
table tr:last-child td:first-child {
    border-bottom-left-radius: 2px;
}
table tr:last-child td:last-child {
    border-bottom-right-radius: 2px;
}

tr:nth-child(even) {
    background-color: #f3f3be;
}


/* FOOTER */
.footer {
    background: linear-gradient(135deg, #FAE149, #FFEB5B);
    color: var(--text-color);
    padding-top: 2rem;
    text-align: center;
    border-top: 2px solid var(--retro-fg);
}
.footer h1{
    font-size: 1.2rem;
    margin-bottom: 0.8rem;
    border-bottom: 1px solid;
    display: inline-block;
    width: 50rem;
    text-transform: uppercase;
    text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.6);
    letter-spacing: 0.5cap;
}
.footer p{
    font-size: 0.6rem;
    text-transform: uppercase;
    letter-spacing: -0.1cap;
}
.footer-text{
    margin: 0.5rem;
}